info:
  app:
    name: iais-cloud-zuul
    description: Http gateway of iais
    version: 1.0.0

spring:
  jpa:
    open-in-view: false

hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: THREAD
          thread:
            timeoutInMilliseconds: 100000


server:
  port: 8080
iais:
  jwt:
    header:
      name: jwt-auth

zuul:
  prefix: /api
  ignored-headers: Access-Control-Allow-Credentials, Access-Control-Allow-Origin
  strip-prefix: false
  routes:
    security:
      path: /v1/**/security/**
      serviceId: security
      stripPrefix: false
    referential:
      path: /v1/**/referential/**
      serviceId: referential
      stripPrefix: false
    structural:
      path: /v1/structural/**
      serviceId: structural
      stripPrefix: false

ribbon:
  eureka:
    enabled: false
  ReadTimeout: 100000

security:
  ribbon:
    listOfServers: iais-ms-security-api:8080

referential:
  ribbon:
    listOfServers: iais-referential-api:8080

structural:
  ribbon:
    listOfServers: iais-structural-api:80
