# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: mvn clean install --file pom.xml
    - name: Build docker image of referential api with maven jib plugin
      env:
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      run: mvn compile jib:build --file ./iais-ms-meta/iais-ms-meta-referential/referential-api/pom.xml
    - name: Build docker image of security api with maven jib plugin
      env:
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      run: mvn compile jib:build --file ./iais-ms-security/security-api/pom.xml
    - name: Build docker image of zuul with maven jib plugin
      env:
        REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
      run: mvn compile jib:build --file ./iais-cloud/iais-zuul/pom.xml
    - name: Stack deploy
      env: 
        PARSTAT_KEY: ${{ secrets.parstat_key }}
      run: touch ~/.ssh/authorized_keys && echo $PARSTAT_KEY > ~/.ssh/authorized_keys && ssh parstat@http://iais.francecentral.cloudapp.azure.com/ 'cd iais &&  docker stack deploy --compose-file docker-compose.yml --with-registry-auth iais'
